.vscode/
/build
/tests
antenna_gui.py
/user_interface/venv
/user_interface/__pycache__
/include/pigpio-master
/NOTES.md
/boot_interface/components/__pycache__
/boot_interface/venv
/user_interface/ui_pages/src/__pycache__
